*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.button-container{
    height: 23.5%;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left:47.8%;
    top: 39.8%;
    width:7rem;
}

.button{
    height: 18%;
    width: 100%;
    z-index: 2;
    /*border:1px solid blue;*/
}

.video-0{
    position: absolute;
    left: 15%;
    top: 5%;
    z-index: 2;
    width: 65vw;
    height: 25vh;
}
.hide{
    display: none;
}
.visible{
    display: block
}

.hide-button-0{
    position: absolute;
    right: 7%;
    top: 7%;
    width: 2rem;
    /*filter: invert(100%);*/
    cursor: pointer;
    background: red;
}
.hide-button-0 img{
    width:100%
}

.hide-button-0:hover{
    border-bottom: 2px solid black;
}

video{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 10vh;
}

.screen-shot{
    position: absolute;
    bottom: 10%;
    left: 43vw;
}
.screen-shot button{
    padding:0px !important;
}
.controls {
    position: absolute;
    bottom: 16px;
    left: 76vw;
    transform: translate(-50%, -50%);
    z-index: 10;
}
button{
    background-color: rgba(255, 69, 109,0.8); /* Green */
    border: none;
    color: white;
    padding: 2vw;
    text-align: center;
    text-decoration: none;
    font-size: 0.8rem;
    font-weight: bold;
    border-radius: 50%;
    height:5rem;
    width: 5rem;
}
/*
#c1,#c2{
    position: absolute;
}

#c1{
    left: 0%;
}
#c2{
    left: 50%;
}
*/
#promo-gif{
    left: 0%;
    top:19%;
    position: absolute;
    text-align: center;
    width: 100vw;
}

#promo-gif img{
    width:40%;
}

#regio-link{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 10vh;
}
#regio-link img{
    width: 100%;
}