*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body
{
    overflow: hidden;
}

.webgl{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
.button{
    position: absolute;
    height: 7vw;
    width: 23vw;
    left: 75vw;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    border-radius: 15px;
    cursor: pointer;
    z-index: 1;
}
.button:hover{
    box-shadow:rgba(255,255,255,0.5) 1px 1px 10px 5px;
}
.button-0{
    top: 36%;
}
.button-1{
    top: 42%;
}
.button-2{
    top: 48%;
}
.button-3{
    top: 54%;
}
img{
    width: 100%;
}
iframe{
    width: 100%;
    height: 100%;
}
.video-0{
    position: absolute;
    left: 15%;
    top: 5%;
    z-index: 2;
    width: 65vw;
    height: 25vh;
}
.hide{
    display: none;
}
.visible{
    display: block
}

.hide-button-0{
    position: absolute;
    right: 5%;
    top: 5%;
    height: 7vw;
    width: 7vw;
    /*filter: invert(100%);*/
    cursor: pointer;
    background: red;
}

.hide-button-0:hover{
    border-bottom: 2px solid black;
}

video{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 20vw;
    border:1px solid blue
}